---
layout: page
title: "XPorter"
css: ["repo-list.css"]
---

<ol class="repo-list">
  {% for post in site.posts %}
  <li class="repo-list-item">
      <p class="repo-list-name">
        <a href="{{site.url}}{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a>
      </p>
      <p class="repo-list-meta">
          <span class="meta-info"> {{ post.date | date: "%Y/%m/%d" }} </span>
          {% for cat in post.categories %}
            <span class="meta-info"><a href="{{site.url}}{{site.baseurl}}/categories">{{ cat }} </a></span>
          {% endfor %}
      </p>
  </li>
  {% endfor %}
</ol>
