
<title>{% if page.title %} {{ page.title }} {% endif %}</title>


<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/common.css">
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/page.css">
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/site-header.css">
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/site-footer.css">

<!-- css -->
{% if page.layout == 'post' %}
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/markdown.css">
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/highlight.css">
<link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/post.css">
{% endif %}


{% for css in page.css %}
  <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/{{css}}">
{% endfor %}
