
<title>{% if page.title %} {{ page.title }} {% endif %}</title>

<link rel="stylesheet" href="{{ site.url }}/assets/css/pagination.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/common.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/page.css">

<!-- css -->
{% if page.layout == 'post' %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/markdown.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/rouge.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">
{% endif %}





{% for css in page.css %}
  <link rel="stylesheet" href="{{ site.url }}/assets/css/{{css}}">
{% endfor %}

<!-- js -->
<script src="{{ site.url }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery-ui.js"></script>
