body,html { margin: 0; width:100vw;overflow-x:hidden;}

html { font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif"; font-weight: 400;}

body { font-size: 16px; line-height: 1.4;color: #333; background-color: #fff; -webkit-font-smoothing: antialiased;}


h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0; }

h1 { padding-bottom: 0.3em; font-size: 210%; border-bottom: 1px solid #eaecef;font-weight: 600; }
h2 { padding-bottom: 0.3em; font-size: 200%; border-bottom: 1px solid #eaecef;font-weight: 600; }
h3 { font-size: 180%; font-weight: 600;}
h4 { font-size: 160%; font-weight: 600; }
h5 { font-size: 140%;; font-weight: 600; }
h6 { font-size: 120%; font-weight: 600; }
