
.site-header {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.site-header a {
  line-height: 60px;
  color: black;
}


.site-header  a:hover { text-decoration: none;  }

.container {
  padding: 0 40px;
  max-width: 860px;
  margin: auto;
}

.footer {
  height: 60px;
}
