
#post-directory-module {
    z-index: 999;
}

.post-directory {
    font-size: 14px;
    background: #fff;
    overflow: hidden;
    width: 300px;
    padding-bottom: 1em;
    border: 1px solid #efefef;
    color: #999;
}

.post-directory ul,
.post-directory ol {
    padding-left: 1.5em;
    list-style: none;
}

.post-directory strong {
    border-left: 5px solid #999;
    padding: 2px 5px 2px 15px;
}

.post-directory a {
    text-decoration: none;
    color: #bababa;
}

.post-directory a:hover,
.post-directory a:active,
.post-directory a.on {
    color: #4183c4;
}
