
.post-header {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaecef;
}
.post-header .post-title {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.post-header .post-date {
  text-align: center;
  margin:  10px;
  color: #ccc
}

.post-header a {
  text-decoration: none; color: #0083D1;
  line-height: 30px;
  vertical-align: middle;
  font-size: 18px;
}

.post-header a:hover {
  text-decoration: none; color: #0083D1
}

.triangle-facing-left {
    display: inline-block;
    border-left: 2px solid;
    border-bottom: 2px solid;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}
